html, body {
	margin: 0;
	padding: 0;
}
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
}
.container {
	display: flex;
	flex-wrap: wrap;
}
.block {
	width: 100%;
	min-height: 200px;
}
.one {
	background-color: #009688
}
.two {
	background-color: #32ab9f;
}
.three {
	background-color: #66c0b7;
}
.four {
	background-color: #99d5cf;
}
.five {
	background-color: #cceae7;
}

@media screen and (min-width: 450px) {
	.one {
		width: 40%;
	}
	.two {
		width: 60%;
	}
}
@media screen and (min-width: 600px) {
	.one, .three {
		width: 25%;
	}
	.two {
		width: 50%;
	}
}
@media screen and (min-width: 900px) {
	.container {
		width: 900px;
		margin-left: auto;
		margin-right: auto;
	}
}